
//colors
$primary-color: #6a45ff;
$secondary-color: #6A45FF3D;
$white:#FFFFFF; 
$light-gray: #dce1e6;
$dark-gray: #5D6273;
$black: #000000;
$red: #ff5252;
$green: #8BFF54;
$blue: #6587FF;
$yellow: #e9ff60;

//font-size
$font-xl: 32px;
$font-lg: 24px;
$font-md: 18px;
$font-sm: 16px;
$font-xsm: 12px;




